################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/ResumeBuilder/v17/.suo
*.vsidx
/src/.vs/ResumeParser/v17/.suo
/src/Services/Consumer/Consumer.API/obj/Debug/net8.0/Consumer.API.assets.cache
/src/Parser.Contracts/obj
/src/Employment.API/obj/Debug/net8.0/Employment.API.assets.cache
/src/Identity.Api/obj/Debug/net8.0
/src/.vs/ResumeParser/DesignTimeBuild/.dtbcache.v2
/src/.vs/ResumeParser/v17/.futdcache.v2
/src/.vs/ProjectEvaluation/resumeparser.metadata.v7.bin
/src/.vs/ProjectEvaluation/resumeparser.projects.v7.bin
/src/Gateway/obj
/src/Services/Consumer/Consumer.API/obj/Debug/net8.0/Consumer.API.csproj.AssemblyReference.cache
/src/Parser.Common/obj/Debug/net8.0/Parser.Common.csproj.AssemblyReference.cache
/src/Gateway/obj/Debug/net7.0/Gateway.csproj.AssemblyReference.cache
/src/Employment.API/obj/Debug/net8.0/Employment.API.csproj.AssemblyReference.cache
